/* Base styles for the navbar */
.navbar {
  background-color: black !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: white;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #1590af;
}

.navbar a:hover {
  color: white;
}

.navbar .nav-link.active, .navbar .dropdown-toggle.active {
  color: white;
}

.navbar li a {
  font-size: 1.3rem !important;
  color: #1590af;
  text-transform: capitalize;
}

.menu-active {
  font-weight: bold !important;
  border-bottom: 1px solid rgb(204, 22, 22);
  color: white;
}
.navbar-toggler-icon {
  background-color: white;
}
.my-3 {
  font-family: "Times New Roman", Times, serif;
}

.mt-3 {
  font-family: "Times New Roman", Times, serif;
}

/* Navbar styles */

/* Styling the dropdown items on hover */
.dropdown-menu.custom-bg li a.dropdown-item:hover {
  background-color: black; /* Background color when hovering */
  color: white; /* Text color when hovering */
}

