body{
  /* background-image: url('../src/components/img/bg-texture.png'); */
    background-color:  #fff; /* Set your background color here */
    color: black;
    line-height: 1.7; 
}
/* style.css */
.active-link {
  color: black; /* Set your desired color for the active link */
  /* Add any other styles for the active link */
}

