body {
  /* background-image: url('../src/components/img/bg-texture.png'); */
  background-color: #fff; /* Set your background color here */
  color: black;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}
